@import '../../../styles/index';

// Slick Slider Styles
.slick-list {
  padding: 1em 0 !important;
}

button.slick-arrow::before {
  color: $red !important;
  // height: 40px !important;
  // width: 40px !important;
  box-shadow: 5px 5px 30px #0000001c;
}

/* the slides */
.slick-slide {
  padding: 0 20px;
}

// content
.rameelo-wrapper {
  max-width: 1920px !important;
  margin: 0 auto;
}

.top-section {
  background-color: blue;
  @extend %flex;
  min-height: 1078px;

  .row {
    height: 100%;
  }

  .graphic-side {
    background: linear-gradient(0deg, #ff1d465d, #ff1d467e),
      url('../../../images/rameelo/rameelo_cover_photo.png');
    background-position: center;
    padding: 20px;

    @extend %flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      color: $white;
      margin: 20px 20px;
      font-size: 30px;
    }

    .motto {
      font-size: 140px;
      color: $white;
    }
    @media only screen and (max-width: 768px) {
      .motto {
        font-size: 90px;
      }
    }
  }

  .info-side {
    background-color: white;
    display: flex;
    flex-direction: column;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 10px;

      span {
        color: $secondary-text;
        margin: 20px 40px;
        font-size: 20px;
      }

      @media only screen and (max-width: 992px) {
        display: none !important;
      }
    }

    .welcome {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      border-right: 1px solid $red;
      position: relative;

      @media only screen and (min-width: 992px) {
        padding: 4rem;
        margin: 30px;
      }

      @media only screen and (max-width: 992px) {
        border: none !important;
        margin: 20px;
      }

      .title {
        font-size: 70px;

        .red-text {
          color: $red;
        }
      }

      .subtitle {
        color: $secondary-text;
        @extend %font-inter;
      }

      .learn-more {
        margin-top: 20px;
        color: $red;
        font-size: 14px;
        text-decoration: underline;
        @extend %font-inter;
        font-weight: 600;
      }
    }

    .scroll-widget {
      margin: 0 16px 10px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: $red;

      .scroll-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        font {
          font-size: 12px;
        }

        i {
          font-size: 30px;
        }
      }
    }
  }
}

.quadrants-section {
  background-color: $red;
  margin: 0 !important;

  @media only screen and (min-width: 992px) {
    padding: 3em 6em;
  }

  .row {
    .col {
      min-height: 250px;
    }
    @media only screen and (min-width: 992px) {
      .col {
        border-right: 1px solid #ffcb5a !important;
      }

      :last-child {
        border: none !important;
      }
    }
  }

  .quadrant {
    padding: 2em;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .quadrant-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        color: $white;
        font-size: 38px;
      }

      .subtitle {
        @extend %font-inter;
        color: $white;
        font-size: 13px;
        margin-top: 5px;
      }
    }

    .quadrant-footer {
      color: $gold;
      font-size: 14px;
      text-decoration: underline;
      @extend %font-inter;
    }
  }
}

.events-section {
  background: #f4f4f4 0% 0% no-repeat padding-box;

  padding: 2em 2em;

  @media only screen and (min-width: 992px) {
    padding: 3em 4em;
  }

  .events-inner-container {
    span.section-title {
      font-size: 30px;
    }

    .carousel-container {
      padding-top: 2rem;
      ul {
        background: #f4f4f4 0% 0% no-repeat padding-box !important;
      }

      .event-card {
        width: 367px;
        height: 134px;
        /* UI Properties */
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 5px 5px 30px #0000001c;
        opacity: 1;

        padding: 1rem;

        display: flex !important;
        flex-direction: row;

        .event-card-graphic {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .date-graphic {
            color: $white;
            background-color: $red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 35px;

            span {
              font-size: 0.8em;
            }
          }
        }

        .event-card-info {
          padding: 0em 0.5em;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .event-name {
            font: normal normal 600 18px/20px Inter;
          }

          .event-location {
            i {
              margin-right: 5px;
            }

            color: $secondary-text;
            @extend %font-inter;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.highlights-section {
  padding: 2em;
  background-color: $white;

  @media only screen and (min-width: 992px) {
    padding: 4em 7em;
  }

  .section-title {
    text-align: left;
    font: normal normal normal 38px/74px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
  }

  .main-video-container {
    div {
      width: auto !important;

      @media only screen and (min-width: 320px) {
        height: 200px !important;
      }
      @media only screen and (min-width: 481px) {
        height: 400px !important;
      }
      @media only screen and (min-width: 769px) {
        height: 600px !important;
      }

      @media only screen and (min-width: 1201px) {
        height: 900px !important;
      }
    }
  }

  .bottom-video-content {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 0;

    .join-card {
      width: 391px;
      min-height: 246px;
      background-color: $red;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2em;

      box-shadow: 5px 6px 10px #0000005a;

      .card-title {
        text-align: left;
        font: normal normal normal 38px/39px Bebas Neue;
        letter-spacing: 0px;
        color: #f4f4f4;
        opacity: 1;
        margin-bottom: 0.5em;
      }

      .card-desc {
        text-align: left;
        font: normal normal normal 18px/25px Inter;
        letter-spacing: 0px;
        color: #f4f4f4;
        opacity: 1;
      }

      .card-action {
        text-align: left;
        font: normal normal 600 15px/19px Inter;
        letter-spacing: 0.3px;
        color: $gold;
        opacity: 1;
        justify-self: flex-end;
        margin-top: 4em;
        text-decoration: underline;
      }
    }

    .video-slider-container {
      padding: 0 1.5em;

      .video-slide {
        background-image: url('../../../images/rameelo/rameelo_cover_photo.png');
        background-position: center;
        width: 320px !important;
        height: 220px !important;

        div {
          width: 320px !important;
          height: 220px !important;
        }

        box-shadow: 5px 6px 10px #00000029;
      }
    }
  }
}

.host-section {
  padding: 1em;
  background-color: $white;

  @media only screen and (min-width: 992px) {
    padding: 4em;
  }

  .overlapping-title {
    font: normal normal bold 176px/211px Bebas Neue;
    text-align: left;
    color: $red;

    margin: 0;
    padding: 0;

    z-index: 1;
    opacity: 0.45;
  }

  .main-card {
    top: -4rem;
    z-index: 100;
    opacity: 1;

    background: white 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 30px #00000038;

    @media screen and (min-width: 1366px) {
      background: transparent url('../../../images/rameelo/host_bg_2x.png') 100%
        0% no-repeat padding-box;
      background-size: contain;

      margin-left: 2rem;
      margin-right: 2rem;
    }

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .info-container {
      max-width: 853px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      padding: 1rem 2rem;

      @media screen and (min-width: 992px) {
        padding: 2em 5em;
      }

      .title {
        text-align: left;
        font: normal normal bold 78px/152px Bebas Neue;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }

      .description {
        text-align: left;
        font: normal normal normal 18px/27px Inter;
        letter-spacing: 0px;
        color: #6f6f6f;
        opacity: 1;

        margin-bottom: 4rem;
      }

      .actions {
        margin-bottom: 2em;

        button {
          border-radius: none !important;
          margin: 0.5rem;
          cursor: pointer;
        }

        .main-action {
          width: 193px;
          height: 62px;
          /* UI Properties */
          background: #ff1d46 0% 0% no-repeat padding-box;
          box-shadow: 5px 6px 30px #00000040;
          opacity: 1;
          border: none;

          text-align: center;
          font: normal normal 600 15px/19px Inter;
          letter-spacing: 0.3px;
          color: #ffffff;
          opacity: 1;
        }

        .secondary-action {
          width: 193px;
          height: 62px;
          /* UI Properties */
          border: 1px solid $red;
          opacity: 1;

          text-align: center;
          font: normal normal 600 15px/19px Inter;
          letter-spacing: 0.3px;
          color: $red;
          background-color: white;
          opacity: 1;
        }
      }
    }
  }
}

.compete-section {
  padding: 1em;
  background-color: $white;

  @media only screen and (min-width: 992px) {
    padding: 4em;
  }

  .overlapping-title {
    font: normal normal bold 176px/211px Bebas Neue;
    text-align: left;
    color: $gold;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin: 0;
    padding: 0;

    z-index: 1;
    opacity: 0.45;

    right: 0;
  }

  .main-card {
    top: -4rem;
    z-index: 100;
    opacity: 1;

    background: white 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 30px #00000038;

    @media screen and (min-width: 1366px) {
      background: transparent url('../../../images/rameelo/host_bg_2x.png') 0%
        0% no-repeat padding-box;
      background-size: contain;

      margin-left: 2rem;
      margin-right: 2rem;

      ::before {
        transform: rotate(20deg);
      }
    }

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .info-container {
      max-width: 853px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      padding: 1rem 2rem;

      @media screen and (min-width: 992px) {
        padding: 2em 5em;
      }

      .title {
        text-align: left;
        font: normal normal bold 78px/152px Bebas Neue;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }

      .description {
        text-align: left;
        font: normal normal normal 18px/27px Inter;
        letter-spacing: 0px;
        color: #6f6f6f;
        opacity: 1;

        margin-bottom: 4rem;
      }

      .actions {
        margin-bottom: 2em;

        button {
          border-radius: none !important;
          margin: 0.5rem;
          cursor: pointer;
        }

        .main-action {
          width: 193px;
          height: 62px;
          /* UI Properties */
          background: $gold 0% 0% no-repeat padding-box;
          box-shadow: 5px 6px 30px #00000040;
          opacity: 1;
          border: none;

          text-align: center;
          font: normal normal 600 15px/19px Inter;
          letter-spacing: 0.3px;
          color: #ffffff;
          opacity: 1;
        }

        .secondary-action {
          width: 193px;
          height: 62px;
          /* UI Properties */
          border: 1px solid $gold;
          opacity: 1;

          text-align: center;
          font: normal normal 600 15px/19px Inter;
          letter-spacing: 0.3px;
          color: $gold;
          background-color: white;
          opacity: 1;
        }
      }
    }
  }
}
