@import '../../../styles/index';

.rameelo-wrapper {
  max-width: 1920px !important;
  margin: 0 auto;
}

.top-section {
  background-color: blue;
  @extend %flex;
  min-height: 1078px;

  .row {
    height: 100%;
  }

  .graphic-side {
    background: linear-gradient(0deg, #ff1d465d, #ff1d467e),
      url('../../../images/rameelo/rameelo_cover_photo.png');
    background-position: center;
    padding: 20px;

    @extend %flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      color: $white;
      margin: 20px 20px;
      font-size: 30px;
    }

    .motto {
      font-size: 140px;
      color: $white;
    }
    @media only screen and (max-width: 768px) {
      .motto {
        font-size: 90px;
      }
    }
  }

  .info-side {
    background-color: white;
    display: flex;
    flex-direction: column;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 10px;

      span {
        color: $secondary-text;
        margin: 20px 40px;
        font-size: 20px;
      }

      @media only screen and (max-width: 992px) {
        display: none !important;
      }
    }

    .welcome {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      border-right: 1px solid $red;
      position: relative;

      @media only screen and (min-width: 992px) {
        padding: 4rem;
        margin: 30px;
      }

      @media only screen and (max-width: 992px) {
        border: none !important;
        margin: 20px;
      }

      .title {
        font-size: 70px;

        .red-text {
          color: $red;
        }
      }

      .subtitle {
        color: $secondary-text;
        @extend %font-inter;
      }

      .learn-more {
        margin-top: 20px;
        color: $red;
        font-size: 14px;
        text-decoration: underline;
        @extend %font-inter;
        font-weight: 600;
      }
    }

    .scroll-widget {
      margin: 0 16px 10px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: $red;

      .scroll-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        font {
          font-size: 12px;
        }

        i {
          font-size: 30px;
        }
      }
    }
  }
}

.quadrants-section {
  background-color: $red;
  margin: 0 !important;

  @media only screen and (min-width: 992px) {
    padding: 3em 6em;
  }

  .row {
    .col {
      min-height: 250px;
    }
    @media only screen and (min-width: 992px) {
      .col {
        border-right: 1px solid white !important;
      }

      :last-child {
        border: none !important;
      }
    }
  }

  .quadrant {
    padding: 2em;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .quadrant-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        color: $white;
        font-size: 38px;
      }

      .subtitle {
        @extend %font-inter;
        color: $white;
        font-size: 13px;
        margin-top: 5px;
      }
    }

    .quadrant-footer {
      color: $gold;
      font-size: 14px;
      text-decoration: underline;
      @extend %font-inter;
    }
  }
}

.events-section {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  padding: 3em 4em;

  .events-inner-container {
    span {
      font-size: 30px;
    }

    .carousel-container {
      margin: 1em 0;

      .slick-arrow::before {
        color: black !important;
      }

      /* the slides */
      .slick-slide {
        padding: 0 20px;
      }

      ul {
        background: #f4f4f4 0% 0% no-repeat padding-box !important;
      }

      .event-card {
        width: 367px;
        height: 134px;
        /* UI Properties */
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 5px 5px 30px #0000001c;
        opacity: 1;

        padding: 1rem;

        display: flex;
        flex-direction: row;

        .event-card-graphic {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: flex-start;
        }

        .event-card-info {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}
