$primary-background: #fbf6f0;
$primary-text: #3f4254;
$secondary-text: #b5b5c3;

$primary-color: #0bb7af;
$white: white;

$red: #ff1d46;
$gold: #ffcb5a;

body {
  color: $primary-text;
  background-color: $primary-background;
}
