@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
}

h1 {
  color: $primary-text;
}

h2 {
  font-size: 30px;
}

%font-bebas {
  font-family: 'Bebas Neue', cursive;
}
%font-inter {
  font-family: 'Inter', sans-serif;
}
