// Common styles for all components

%flex {
  display: flex !important;
}

body {
  margin: 0;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.wrapper {
  max-width: 1140px;
  margin: 0px auto;
}

.card {
  @extend %flex;
  background-color: white;
  border-radius: 5.460000038146973px;
  margin: 10px;
  padding: 5px;
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
}

button {
  background-color: $primary-color;
  color: $white;
  padding: 8.449999809265137px 13px;
  border-radius: 5.460000038146973px;
  border: none;
  text-align: center;
  font-size: 13px;
  box-sizing: border-box;
  box-shadow: none;
  cursor: pointer;
}
