@import '../../styles/index';

.nav {
  @extend %flex;
  flex-direction: row;
  margin: 10px;

  ul {
    @extend %flex;
    padding-inline-start: 0 !important;
    flex-direction: row;
    align-items: stretch;
    list-style: none;
  }

  li {
    margin-right: 30px;
  }

  a {
    text-decoration: none !important;
    color: $secondary-text;
  }

  .active {
    padding: 7px 20px;
    background-color: $primary-color;
    border-radius: 100px;
    color: white;
  }
}

div .pages {
  @extend %flex;

  margin: 20px;
  flex-direction: row;

  .card {
    height: 200px;
    width: 300px;
    padding: 30px;
  }

  .custom-card-content {
    @extend %flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    .main-text {
      font-size: 30px;
    }
  }

  .rameelo-card {
    background-color: #ffe2e5;
    color: red;

    i {
      color: red;
      font-size: 3em;
    }
  }
}
